@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Poppins:wght@100;200;300;400;500;600;900&display=swap');

*
{
    padding: 0;
    margin: 0;
}

/* same style */
body
{
    font-family: 'Lato', sans-serif;
}

span
{
    color: rgba(229, 84, 115, 1);
}

.section-tittle
{
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section-desc
{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    margin-top: 15px;
}

/* header */
.head
{
    width: 100%;
    height: 600px;
    background-color: rgba(229, 84, 115, 0.10);

}

.header-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.header-text
{
    margin-left: 58px;
}

.header-tittle
{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.header-desc
{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-style: normal;
    line-height: 25px;
    margin: 20px 0;
}

.header-btn
{
    border-radius: 8px;
    background: #E55473;
    padding: 18px 35px;
    border: 0;
    color: white;
}

.header-logo img
{
    width: 500px;
    height: 600px;
}

/* Featured */
.Featured
{
    margin-top: 100px;
}

.Featured-container
{
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    margin-top: 30px;
}

.box
{

    display: block;
    width: 325px;
    height: 370px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.box-2
{
    background: rgba(5, 151, 160, 0.15);
}

.box-3
{
    background: rgba(71, 125, 17, 0.15);
}

#f1
{
    width: 249px;
    height: 279px;
    margin: 91px 10px 10px 30px;
}

#f2
{
    width: 249px;
    height: 279px;
    margin: 91px 10px 10px 35px;
}

#f3
{
    width: 249px;
    height: 279px;
    margin: 91px 10px 10px 44px;
}

.box-tittle
{
    text-align: center;
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 15px;
}

/* payment */
.payment
{
    width: 1025px;
    ;
    height: 240px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.delivery img
{
    margin: 10px auto;
    display: flex;
    width: 60px;
}

.delivery-tittle
{
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}

/* sale */
.sale
{
    width: 100%;
    height: 450px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.sale-text
{
    margin-left: -102px;
}

.sale-tittle
{
    color: #272727;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    font-weight: bolder;
}

.sale-desc
{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin: 20px 0;
}

.sale-btn
{
    border-radius: 8px;
    background: #E55473;
    padding: 18px 35px;
    border: 0;
    color: white;
    display: flex;
    margin: auto;
}

.sale-img img
{
    width: 244px;
    height: 323px;
}

/* Instagram */
.instagram
{
    height: 500px;
    margin-top: 120px;
}

.instagram-contant
{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.instagram-contant img
{
    width: 241px;
    height: 286px;
}

/* input */
.input
{
    margin: 100px auto;
    background-image: url('./Flower-Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1025px;
    height: 316px;
}

.input-tittle
{
    padding-top: 100px;
}

.input form
{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 35px;
}

form input
{
    width: 45%;
    border-radius: 7px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
    border: 0;
}

.input-btn
{
    border-radius: 8px;
    background: #E55473;
    padding: 18px;
    border: 0;
    color: white;
    display: flex;
}

/* foot */
footer
{
    width: 100%;
    height: 350px;
    background-color: rgba(17, 16, 16, 1);
}

.footer-tittle
{
    color: white;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    padding-top: 120px;
}

.footer-desc
{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;
}

small
{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}